body {
    background: linear-gradient(to left,rgb(0,0,0),rgb(40,40,40));
    font-size:20px;
}

:root {
    --color-for-titles:rgb(26, 150, 16);
}



.card-banner {
    position: relative;
    width: 100%;
    height: 100vh;
} 

.banner-img {
    position: absolute;
    z-index:10;
    width: 100%;
    height: 100vh;
}


.data-center {
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    z-index:100;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    gap:100px;
    border-radius:8px;
    background:rgba(0,0,0,0.5);
    padding:15px;
}


.card-img {
    width:100px;
    height:100px;
    border-radius:100%;
}

.card-banner__div-text {
    width:80%;
    margin:auto;
    height:100px;

}

.card-banner__div-p {
    color:rgb(250,250,250);
    font-size:2em;
    text-align: center;
}

.data-center__div-read {
    text-align:center;
    background:rgba(240,240,240,0.1);
    border-radius:3px;
    padding:3px 10px;
    cursor:pointer;
}

.data-center__p-read {
    color:#fff;
}

.data-center__i {
    color:#fff;
}

.card-banner__img {
    width:30px;
    height:30px;
}



.container-inicio {
    height:100vh;
    width:90%;
    margin:auto;
}

.inicio__div-parrafo {
    display:flex;
    flex-direction: column;
    margin:40px;
    height: 280px;
    text-align:justify;
    grid-gap:10px;
}

.inicio__div-parrafo div {
    margin-top:25px;
    text-align:center;
}

.inicio__h2 {
    font-size:50px;
    color:var(--color-for-titles);
    font-family: 'Sen', sans-serif;
}

.inicio__p {
    flex:1;
    color:rgb(250,250,250);
    grid-row: 2 / 3;
    grid-column:2 / 3;
    font-size:18px;

}

.container-proyectos {
    position: relative;
    width: 90%;
    height: 100%;
    margin:5px auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.proyectos__h3 {
    font-size:50px;
    color:var(--color-for-titles);
    width:100%;
    text-align:center;
    font-family: 'Sen', sans-serif;
}


.flex-proyectos {
    display:flex;
    flex-wrap: wrap;
    margin:40px auto;
    grid-gap:50px;
    width:700px;
    height: 300px;
}

.container-todo-list {
    width:300px;
    height:240px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-left:10px;   
}

.todo-list__b {
    color:var(--color-for-titles);
    border-bottom:2px solid var(--color-for-titles);
}

.proyecto-todo-list {
    margin:5px 20px;
    width:330px;
    height: 240px;
    position: relative;
    display:flex; 
    overflow: hidden;
    transition:transform 1s;
}

.proyecto__img {
    width:100%;
    height:100%;
    border-radius:2px;
    position:absolute;
    z-index:1;
    transition-property: filter;
    transition-duration: .1s;
}


.container-info {
    display: flex;
    transform: translateY(240px);
    grid-gap:10px;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100%;
    background:rgba(240, 240, 240,0.1);
    position: absolute;
    z-index:10;
    transition:transform .1s;
}

.animation-todo-list-info {
    display: flex;
    transform: translateY(0px);
}

.animation-todo-list-img {
    filter:blur(.9px);
}


.proyecto-todo-list div a {
    background: rgba(240, 240, 240,.2);
    border-radius:10px;
}

.fa-globe {
    font-size:18px;
    margin-right: 5px;
}

.github-info {
    margin-right:5px;
}

.cards-skills {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    margin:auto;
}

.skills__h3 {
    font-size:50px;
    color:var(--color-for-titles);
    width:100%;
    text-align:center;
    font-family: 'Sen', sans-serif;
}

.skills__flex-container {
    display:flex;
    margin:30px 0px;
}

.skills__flex-container div {
    margin:1px 20px;
    display:flex;
    flex-direction:column;
    text-align:center;
}

.skills__flex-container div img {
    width:80px;
    height:80px;
}

.skills__flex-container div b {
    font-size:15px;
}

.skills__b-html {
    color:rgba(228, 79, 38);
}

.skills__b-css {
    color:rgba(10, 120, 240);
}


.skills__b-js {
    color:rgba(255,255,10);
}